body {
     font-family: Roboto !important;
}

.btn-vendo {
    background-color: #7854F7;
    border-radius: 45px;
    font-size: 14px;
    padding: 18px 46px;
    margin-right: 15px;
}

.bg-vendo {
    background-color: #7854F7;
}

.text-grey {
    color: #94A2B3;

}